<div id="header-sidebar">
  <a href="/death-knight">
    <img src="/assets/img/wow-class/icon/death_knight.png" alt="death knight wow icon">
  </a>
  <a href="/demon-hunter">
    <img src="/assets/img/wow-class/icon/demon_hunter.png" alt="demon hunter wow icon">
  </a>
  <a href="/hunter">
    <img src="/assets/img/wow-class/icon/hunter.png" alt="hunter wow icon">
  </a>
  <a href="/mage">
    <img src="/assets/img/wow-class/icon/mage.png" alt="mage wow icon">
  </a>
  <a href="/paladin">
    <img src="/assets/img/wow-class/icon/paladin.png" alt="paladin wow icon">
  </a>
  <a href="http://tc.ravenholdt.net/" target="_blank">
    <img src="/assets/img/wow-class/icon/rogue.png" alt="rogue wow icon">
  </a>
</div>
