<div id="header-sidebar">
  <a href="http://tc.ravenholdt.net/" target="_blank">
    <img src="/assets/img/wow-class/icon/rogue.jpg" alt="rogue wow icon">
  </a>
  <a href="/hunter">
    <img src="/assets/img/wow-class/icon/hunter.jpg" alt="hunter wow icon">
  </a>
  <a href="#">
    <img src="/assets/img/wow-class/icon/warrior.jpg" alt="warrior wow icon">
  </a>
  <a href="#">
    <img src="/assets/img/wow-class/icon/druid.jpg" alt="druid wow icon">
  </a>
  <a href="#">
    <img src="/assets/img/wow-class/icon/priest.jpg" alt="priest wow icon">
  </a>
  <a href="#">
    <img src="/assets/img/wow-class/icon/mage.jpg" alt="mage wow icon">
  </a>
  <a href="#">
    <img src="/assets/img/wow-class/icon/shaman.jpg" alt="shaman wow icon">
  </a>
</div>
