<div id="{{ include.elementID }}">
  <a href="/death-knight">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/death_knight.png" alt="Death Knight {{ include.alt }}">
      <figcaption>Death Knight</figcaption>
    </figure>
  </a>
  <a href="/demon-hunter">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/demon_hunter.png" alt="Demon Hunter {{ include.alt }}">
      <figcaption>Demon Hunter</figcaption>
    </figure>
  </a>
  <a href="/druid">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/druid.png" alt="Druid {{ include.alt }}">
      <figcaption>Druid</figcaption>
    </figure>
  </a>
  <a href="/hunter">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/hunter.png" alt="Hunter {{ include.alt }}">
      <figcaption>Hunter</figcaption>
    </figure>
  </a>
  <a href="/mage">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/mage.png" alt="Mage {{ include.alt }}">
      <figcaption>Mage</figcaption>
    </figure>
  </a>
  <a href="/monk">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/monk.png" alt="Monk {{ include.alt }}">
      <figcaption>Monk</figcaption>
    </figure>
  </a>
  <a href="/paladin">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/paladin.png" alt="Paladin {{ include.alt }}">
      <figcaption>Paladin</figcaption>
    </figure>
  </a>
  <a href="/priest">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/priest.png" alt="Priest {{ include.alt }}">
      <figcaption>Priest</figcaption>
    </figure>
  </a>
  <a href="http://tc.ravenholdt.net/" target="_blank">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/rogue.png" alt="Rogue {{ include.alt }}">
      <figcaption>Rogue</figcaption>
    </figure>
  </a>
  <a href="/shaman">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/shaman.png" alt="Shaman {{ include.alt }}">
      <figcaption>Shaman</figcaption>
    </figure>
  </a>
  <a href="/warlock">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/warlock.png" alt="Warlock {{ include.alt }}">
      <figcaption>Warlock</figcaption>
    </figure>
  </a>
  <a href="/warrior">
    <figure>
      <img src="/assets/img/{{ include.dirpath }}/warrior.png" alt="Warrior {{ include.alt }}">
      <figcaption>Warrior</figcaption>
    </figure>
  </a>
</div>