body {
  background-color: $bg;
  color: $text;
  padding: $body-inner-padding;
  padding-top: $body-inner-padding + 50px;

  hr {
    width: 30%
  }

  a {
    color: $link-dark;

    &:hover {
      color: lighten($link-dark, 20%);
    }
  }

  #content {
    background-color: $content-bg;
    border: 1px solid $border-dark;
    padding: 24px;

    span.update-date {
      color: $text-dk3;
      font-weight: bold;
      float: right;
    }
  }

  .center {
    display: block;
    margin: 0 auto;
  }
}
