body {
  background-color: $bg;
  color: $text;
  padding: $body-padding;
  padding-top: $body-padding-top;

  // General
  hr {
    width: 30%
  }

  a {
    color: $link-dark;

    &:hover {
      color: lighten($link-dark, 20%);
    }
  }

  // Ads
  .container {
    &#a-top-d, &#a-bot-d {
      padding: 0;
    }
    &#a-top-d {
      margin-bottom: 12px;
    }
    &#a-bot-d {
      @include MQ(1440px, max-width) {
        margin-top: 12px;
      }
      @include MQ(1440px) {
        align-items: center;
        display: flex;
        justify-content: center;
        position: fixed;
        margin-top: ($body-padding-top - $body-padding) / 2;
        right: 0;
        top: 50%;
        @include translate(0, -50%);
        width: calc((100vw - #{$container-max-width}) / 2 );
      }
    }
  }
  p.blockers-text {
    border: 1px solid $border-dark-lt;
    border-radius: 12px;
    margin: 0;
    padding: 24px;
    text-align: center;
  }
  p.a-inarticle-d {
    margin: 24px 0;
  }

  // Main content
  #content {
    background-color: $content-bg;
    border: 1px solid $border-dark;
    padding: 24px;

    a.list-group-item {
      h4.h5 {
        margin: 0;
        display: inline;
      }
      span.update-date {
        color: $text-dk3;
        font-weight: bold;
        float: right;
      }
    }
  }

  // Home article
  article#home {
    > section {
      background-color: $content-bg;
      border: 1px solid $border-dark;
      padding: 24px;
    }

    section#home-introduction {
      margin-bottom: 12px;

      @include MQ($MD) {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      > * {
        padding: 12px;
      }

      figure {
        text-align: center;
      }

      div#introduction-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    section#home-picker {
      nav {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
          align-items: center;
          display: flex;
          height: 150px;
          justify-content: center;
          position: relative;
          text-align: center;
          text-decoration: none;
          width: 225px;

          figure {
            img {
              height: 100px;
              @include t-scale;
              width: 100px;
            }
            figcaption {
              display: none;
            }
          }

          &:hover {
            figure {
              img {
                height: 130px;
                width: 130px;
              }
            }
          }
        }
      }
    }
  }

  .center {
    display: block;
    margin: 0 auto;
  }
}
