$scrollbar-width: 25px;

$body-padding: 12px;
$body-height-top: 50px;
$body-padding-top: $body-padding + $body-height-top;
$body-padding-top-offset: $body-padding-top + $body-padding * 2;

$container-max-width: 1170px;

$content-inner-padding: 24px;
