header {
  nav#navigation {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  
    @media screen and (min-width: 768px) {
      position: fixed;
    }
  
    a.navbar-brand {
      float: none;
      line-height: 50px;
      height: 50px;
      margin: 0;
      padding: 0;
  
      img {
        display: inline;
      }
    }
  }

  aside#sidebar {
    $body-padding: 12px;
    $body-padding-top: 62px;
    $padding-offset: $body-padding-top + $body-padding * 2;

    $icon-size: calc((100vh - #{$padding-offset}) / 12 / 1.4);
    $icon-size-hover: calc((100vh - #{$padding-offset}) / 12);

    @include MQ(1300px, max-width) {
      nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
          margin: 6px 18px;
        }
      }
    }
    @include MQ(1300px) {
      nav {
        position: fixed;
        left: 12px;
        margin-top: ($body-padding-top - $body-padding) / 2;
        top: 50%;
        @include translate(0, -50%);
        width: $icon-size-hover;

        a {
          margin: 0 auto 0 0;
        }
      }
    }
    nav {
      a {
        display: block;
        height: $icon-size-hover;
        position: relative;
        @include t-scale(0.2s);
        width: $icon-size;
    
        figure {
          left: 50%;
          position: absolute;
          top: 50%;
          @include translate(-50%, -50%);
          width: 100%;

          img {
            width: 100%;
          }
          figcaption {
            display: none;
          }
        }
    
        &:hover {
          width: $icon-size-hover;
        }
      }
    }
  }

  nav#header {
    margin-bottom: 12px;
    padding: 6px;
    text-align: center;
  }
}
