#header-sidebar {
  position: fixed;
  left: 0;
  top: 52px;
  width: 70px;

  a {
    align-items: center;
    display: flex;
    height: 70px;
    margin: 0 auto 0 5px;
    transition: ease 0.3s;
    width: 50px;

    &:hover {
      width: 70px;
    }

    img {
      width: 100%;
    }
  }
}