#header-sidebar {
  $body-padding: 12px;
  $body-padding-top: 62px;
  $padding-offset: $body-padding-top + $body-padding * 2;

  $icon-size: calc((100vh - #{$padding-offset}) / 12 / 1.4);
  $icon-size-hover: calc((100vh - #{$padding-offset}) / 12);

  position: fixed;
  left: 12px;
  margin-top: ($body-padding-top - $body-padding) / 2;
  top: 50%;
  @include translate(0, -50%);
  width: $icon-size-hover;

  a {
    align-items: center;
    display: flex;
    height: $icon-size-hover;
    margin: 0 auto 0 0;
    transition: ease 0.3s;
    width: $icon-size;

    &:hover {
      width: $icon-size-hover;
    }

    img {
      width: 100%;
    }
  }
}