---
layout: default
---

<div id="content" class="container">
  {% assign classParts = page.wow_class | split: "_" %}
  <h1>{% for classPart in classParts %}{{ classPart | capitalize }} {% endfor %}Theorycrafting</h1>

  {{ content }}

  {% capture classCollectionPrefix %}{{ page.wow_class }}-{% endcapture %}
  {% assign simulations = site.documents | where_exp: "item", "item.collection contains classCollectionPrefix" | group_by: "collection" | sort: "name" %}
  {% for simulation in simulations %}
    {% assign classCollectionPrefixSize = classCollectionPrefix | size %}
    {% assign simulationNameShorten = simulation.name | slice: 0, classCollectionPrefixSize %}
    {% if simulationNameShorten == classCollectionPrefix %}
      {% assign simulationName = simulation.name | remove: page.wow_class | remove: "-" %}
      <h2>{{ simulationName | capitalize }}</h2>
      <div class="row">
        {% assign tiers = simulation.items | group_by: "tier" | sort: "name" %}
        {% for tier in tiers reversed %}
        <div class="col-sm-6">
          <h3>{{ tier.name }}</h3>
          <div class="list-group">
          {% assign specs = tier.items | group_by: "spec" | sort: "name" %}
          {% for spec in specs %}
            {% assign entry = spec.items | sort: "url" | first %}
            {% if entry.fightstyle == nil or entry.fightstyle == "Single Target" %}
              <a class="list-group-item" href="{{ entry.url }}">
                <h4 class="h5">{{ spec.name }}</h4>
                <span class="update-date">{{ entry.lastupdate | truncatewords: 2 | remove: '...' }}</span>
              </a>
            {% endif %}
          {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% unless forloop.last %}
      <hr>
      {% endunless %}
    {% endif %}
  {% endfor %}
</div>
