---
layout: default
---

<div id="content" class="container">
  <h1>{{ page.title }}</h1>
  <p>
    <b>Information:</b><br>
    These simulations are all based on the {{ page.tier }} default profiles from SimulationCraft. Set pieces and legendaries
    have been modified accordingly.<br>
    Furthermore, in order to keep the number of combinations from exploding, only DPS legendaries have been used.<br>
    The target error was {{ page.targeterror }}% which means you can consider everything within that DPS range to be mostly equal and requiring a
    more detailed investigation.
  </p>
  <p>
    The purpose of these simulations is to get a general idea of how different setups of this Tier will compare with each other and not
    to promote any definitive "best builds". Several variables (like different trinkets, WF/TF or ingame situations) are not
    taken into account. This is why you, as always, should
    <u><b>simulate your own character</b></u> to find your optimal setup.
  </p>
  {% include layout-parts/fightstylenav.html %}
  {% include layout-parts/gearvariationnav.html %}
  <p>
    <b>Last Update:</b> {{ page.lastupdate }}<br>
    <b>WoW-Build:</b> {{ page.build }}<br>
    <b>Target Error:</b> {{ page.targeterror }}%
  </p>
  <table id="combinator-table" class="table table-hover">
    <thead>
    <tr id="combinator-table-headers">
      <th>#</th>
      <th>Talents</th>
      <th>Sets</th>
      <th>Legendaries</th>
      <th>DPS</th>
    </tr>
    <tr id="combinator-table-filters">
      <th></th>
      <th>
        <input id="combinator-table-filter-talents" type="text" class="form-control" onkeyup="updateCombinatorTable();">
      </th>
      <th>
        <select id="combinator-table-filter-sets" title="Sets" class="selectpicker"
          data-selected-text-format="static" onchange="updateCombinatorTable();" multiple>
        </select>
      </th>
      <th>
        <select id="combinator-table-filter-legendaries" title="Legendaries" class="selectpicker"
          data-selected-text-format="static" onchange="updateCombinatorTable();" multiple>
        </select>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody id="combinator-table-data">
    </tbody>
  </table>
  <div id="combinator-loading" class="text-center">
    <h2>Loading...</h2>
  </div>
  <div id="combinator-table-nav" class="text-right"></div>
</div>
<script src="/assets/js/jquery.csv-0.8.3.min.js"></script>
<script src="/assets/js/jquery.twbsPagination-1.4.1.min.js"></script>
<script src="/assets/js/bootstrap-select-1.12.4.min.js"></script>
<script>
  var combinatorData = null;
  var combinatorRows = null;
  var hasBossDPS = false;

  function updateCombinatorTable() {
    if (combinatorData === null)
      return;
    var filterTalents = document.getElementById("combinator-table-filter-talents").value;
    var filterSets = $('#combinator-table-filter-sets').val();
    var filterLegendaries = $('#combinator-table-filter-legendaries').val();
    combinatorRows = $.grep(combinatorData, function (columns) {
      if (filterTalents !== "" && columns[0].indexOf(filterTalents) === -1)
        return false;
      if (filterSets.indexOf(columns[1]) < 0)
        return false;
      var legos = columns[2].split(", ");
      if ($(filterLegendaries).filter(legos).length < legos.length && columns[2] !== "None")
        return false;
      return true;
    });
    var tableData = document.getElementById("combinator-table-data");
    var $tableNav = $(document.getElementById("combinator-table-nav"));
    if ($tableNav.data("twbs-pagination"))
      $tableNav.twbsPagination("destroy");
    $tableNav.twbsPagination({
      totalPages: Math.max(1, Math.ceil(combinatorRows.length / 15)),
      visiblePages: 3,
      onPageClick: function (event, page) {
        var html = "";
        combinatorRows.slice((page - 1) * 15, page * 15).forEach(function (columns) {
          html += "<tr>";
          html += "<td>" + columns[columns.length - 1] + "</td>";
          html += "<td>" + columns[0] + "</td>";
          html += "<td>" + columns[1] + "</td>";
          html += "<td>" + columns[2] + "</td>";
          html += "<td>" + formatNumber(columns[3]) + "</td>";
          if (hasBossDPS) {
            html += "<td>";
            if (columns.length === 6)
              html += formatNumber(columns[4]);
            html += "</td>";
          }
          html += "</tr>";
        });
        tableData.innerHTML = html;
      }
    });
  }

  $(document).ready(function () {
    $.get("/" + "{{ page.csvfile }}", function (data) {
      combinatorData = $.csv.toArrays(data);
      combinatorData.sort(function (a, b) {
        return b[3] - a[3];
      });
      var idx = 0;
      var sets = [];
      var legos = [];
      combinatorData.forEach(function (columns) {
        idx++;
        columns.push(idx);
        if ($.inArray(columns[1], sets) < 0) {
          sets.push(columns[1]);
        }
        columns[2].split(", ").forEach(function (lego) {
          if (lego !== "None" && $.inArray(lego, legos) < 0) {
            legos.push(lego);
          }
        });
        if (!hasBossDPS && columns.length === 6)
          hasBossDPS = true;
      });
      sets.sort().reverse();
      sets.forEach(function (set) {
        document.getElementById("combinator-table-filter-sets").insertAdjacentHTML("beforeend", "<option>" + set + "</option>");
      });
      var setSelect = $("#combinator-table-filter-sets");
      setSelect.selectpicker("val", sets);
      setSelect.selectpicker("refresh");
      legos.sort();
      legos.forEach(function (lego) {
        document.getElementById("combinator-table-filter-legendaries").insertAdjacentHTML("beforeend", "<option>" + lego + "</option>");
      });
      var legoSelect = $("#combinator-table-filter-legendaries");
      var beltIdx = legos.indexOf("Cinidaria"); // Don't show Cinidaria by default
      if (beltIdx > -1) {
        legos.splice(beltIdx, 1);
      }
      legoSelect.selectpicker("val", legos);
      legoSelect.selectpicker("refresh");
      if (hasBossDPS) {
        document.getElementById("combinator-table-headers").insertAdjacentHTML("beforeend", "<th>Boss DPS</th>");
        document.getElementById("combinator-table-filters").insertAdjacentHTML("beforeend", "<th></th>");
      }
      updateCombinatorTable();
      document.getElementById("combinator-loading").style.display = "none";
    });
  });
</script>
