---
layout: default
---

<div id="content" class="container">
  <h1>{{ page.title }}</h1>
  <p>
    This chart shows the impact of artifact relic traits on your DPS. You will see how much an additional
    trait is worth compared to additional item levels on your weapon.
  </p>
  <p>
    The numbers in the chart show the amount of item levels or traits. Trait simulations <em>only</em> show
    the increase from that particular trait. This includes crucible T2 traits.
  </p>
  <p>
    In order to compare relics with this chart, you have to add the values for the traits and the weapon item
    level increase. However, you should <b>simulate your own character</b> to find your best setup. These
    simulations are based on predefined gear sets instead of your own, after all. This means data shown here
    <b>depends heavily</b> on the used profile with its talents, legendaries etc. and is rather giving an outlook.
    If your character is different from the setup used here, personal simulations are recommended.
  </p>
  {% include layout-parts/fightstyletabs.html %}
  <p>
    <b>Last Update:</b> {{ page.lastupdate }}<br>
    <b>WoW-Build:</b> {{ page.build }}<br>
    <b>Target Error:</b> {{ page.targeterror }}%<br>
    <b>Talents:</b>
    <ul>
      {% for talent in page.talents %}
        <li>{{ talent }}</li>
      {% endfor %}
    </ul>
    <b>Legendaries:</b>
    <ul>
      {% for legendary in page.legendaries %}
        <li>{{ legendary }}</li>
      {% endfor %}
    </ul>
  </p>
  {% include layout-parts/googlechart.html %}
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {"packages": ["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  function excludeEmptyRows(dataTable) {
    var view = new google.visualization.DataView(dataTable);
    var rowIndexes = view.getFilteredRows([{column: 1, value: null}]);
    view.hideRows(rowIndexes);
    return view.toDataTable();
  }

  function drawChart() {
    var columntypes = ["string"];
    for (var i = 0; i < {{ page.num_ilevel_values }}; i++) {
      columntypes.push("number"); // Value
      columntypes.push("string"); // Annotation
    }
    var query = new google.visualization.Query("/" + "{{ page.csvfile }}", {
      csvColumns: columntypes,
      csvHasHeader: false
    });
    query.send(handleQueryResponse);
  }

  function handleQueryResponse(response) {
    if (response.isError()) {
      alert("Error in query: " + response.getMessage() + " " + response.getDetailedMessage());
      return;
    }
    var col, row;

    var data = response.getDataTable();

    // Sort by last column (relic ilevel), then 3 relics (column 5)
    data.sort([{column: data.getNumberOfColumns() - 1, desc: true}, {column: 5, desc: true}]);

    // Mark annotation columns
    for (col = 2; col < data.getNumberOfColumns(); col += 2) {
      data.setColumnProperties(col, {type: "string", role: "annotation"});
    }

    // Add Tooltip and Style columns
    for (col = 3; col <= data.getNumberOfColumns(); col += 4) {
      data.insertColumn(col, {type: "string", role: "tooltip", "p": {"html": true}});
      data.insertColumn(col + 1, {type: "string", role: "style"});
    }

    // Define Crucible T2
    var CrucibleLightTraits = ["LightSpeed", "InfusionOfLight", "SecureInTheLight", "Shocklight"];
    var CrucibleShadowTraits = ["MasterOfShadows", "MurderousIntent", "Shadowbind", "TormentTheWeak", "ChaoticDarkness", "DarkSorrows"];

    // Calculate Differences
    for (row = 0; row < data.getNumberOfRows(); row++) {
      var relicStyle = "";
      if ($.inArray(data.getValue(row, 0), CrucibleLightTraits) >= 0) {
        relicStyle = "stroke-width: 4; stroke-color: #bb8800; color: #ffcc00";
      } else if ($.inArray(data.getValue(row, 0), CrucibleShadowTraits) >= 0) {
        relicStyle = "stroke-width: 4; stroke-color: #5500aa; color: #8800ff";
      }
      var prevVal = 0;
      for (col = 1; col < data.getNumberOfColumns(); col += 4) {
        var curVal = data.getValue(row, col);
        var stepVal = curVal - prevVal;
        var tooltip = "<div class=\"chart-tooltip\"><b>" + data.getValue(row, col + 1) + "x " + data.getValue(row, 0) +
          "</b><br><b>Total:</b> " + formatNumber(curVal.toFixed()) +
          "<br><b>Increase:</b> " + formatNumber(stepVal.toFixed()) + "</div>";
        data.setValue(row, col + 2, tooltip);
        data.setValue(row, col + 3, relicStyle);
        data.setValue(row, col, stepVal);
        if (stepVal < 0) {
          data.setValue(row, col, 0);
          data.setValue(row, col + 1, "");
        }
        prevVal = curVal > prevVal ? curVal : prevVal;
      }
    }

    // Sort crucible traits to the bottom using a temporary column
    var sortCol = data.addColumn("number");
    for (row = 0; row < data.getNumberOfRows(); row++) {
      if ($.inArray(data.getValue(row, 0), CrucibleLightTraits) >= 0 || $.inArray(data.getValue(row, 0), CrucibleShadowTraits) >= 0) {
        data.setValue(row, sortCol, 1);
      } else {
        data.setValue(row, sortCol, 0);
      }
    }
    data.sort([{column: sortCol, desc: false}]);
    data.removeColumn(sortCol);

    // Get content width (to force a min-width on mobile, can't do it in css because of the overflow)
    var content = document.getElementById("fightstyle-tabs");
    var contentWidth = content.innerWidth - window.getComputedStyle(content, null).getPropertyValue("padding-left") * 2;

    // Set chart options
    var chartWidth = document.documentElement.clientWidth >= 768 ? contentWidth : 700;
    var bgcol = "#222";
    var textcol = "#CCC";
    var options = {
      title: "{{ page.charttitle }}",
      backgroundColor: bgcol,
      chartArea: {
        top: 50,
        bottom: 100,
        left: 150,
        right: 50
      },
      hAxis: {
        title: "DPS Increase",
        gridlines: {
          count: 20
        },
        viewWindow: {
          min: 0
        },
        textStyle: {
          color: textcol
        },
        titleTextStyle: {
          color: textcol
        }
      },
      vAxis: {
        textStyle: {
          fontSize: 12,
          color: textcol
        },
        titleTextStyle: {
          color: textcol
        }
      },
      annotations: {
        textStyle: {
          fontSize: 10
        },
        alwaysOutside: true,
        stem: {
          length: -10,
          color: "transparent"
        }
      },
      titleTextStyle: {
        color: textcol
      },
      tooltip: {
        isHtml: true
      },
      legend: {
        position: "none"
      },
      isStacked: true,
      width: chartWidth
    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.BarChart(document.getElementById("google-chart"));
    chart.draw(excludeEmptyRows(data), options);
  }
</script>
