---
layout: default
---

<div id="content" class="container">
  <h1>{{ page.title }}</h1>
  <p>
    Here, you can compare expected DPS increase from trinkets.
  </p>
  <p>
    In order to compare trinkets with this chart, look for the end of the bars corresponding to the item level of
    interest. However, you should <b>simulate your own character</b> to find your best setup. These
    simulations are based on predefined gear sets instead of your own, after all. This means data shown here
    <b>depends heavily</b> on the used profile with its talents, legendaries etc. and is rather giving an outlook.
    If your character is different from the setup used here, personal simulations are recommended.
  </p>
  {% include layout-parts/fightstyletabs.html %}
  <p>
    <b>Last Update:</b> {{ page.lastupdate }}<br>
    <b>WoW-Build:</b> {{ page.build }}<br>
    <b>Target Error:</b> {{ page.targeterror }}%<br>
    <b>Talents:</b>
    <ul>
      {% for talent in page.talents %}
        <li>{{ talent }}</li>
      {% endfor %}
    </ul>
    <b>Legendaries:</b>
    <ul>
      {% for legendary in page.legendaries %}
        <li>{{ legendary }}</li>
      {% endfor %}
    </ul>
  </p>
  {% include layout-parts/googlechart.html %}
</div>
<script type="text/javascript" src="/assets/js/jquery.csv-0.8.3.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {"packages": ["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  function excludeEmptyRows(dataTable) {
    var view = new google.visualization.DataView(dataTable);
    var rowIndexes = view.getFilteredRows([{column: 1, value: null}]);
    view.hideRows(rowIndexes);
    return view.toDataTable();
  }

  function drawChart() {
    $.get("/" + "{{ page.csvfile }}", function (csvString) {
      var arrayData = $.csv.toArrays(csvString, {
        onParseValue: function (value, state) {
          if (state.rowNum <= 1) {
            return value.toString();
          }
          return $.csv.hooks.castToScalar(value, state);
        }
      });
      var data = new google.visualization.arrayToDataTable(arrayData);
      var col, row;

      // Sorting
      var sortCol = data.addColumn("number");
      for (row = 0; row < data.getNumberOfRows(); row++) {
        var biggestTotalValue = 0;
        for (col = 1; col < sortCol; col++) {
          if (data.getValue(row, col) > biggestTotalValue)
            biggestTotalValue = data.getValue(row, col);
        }
        data.setValue(row, sortCol, biggestTotalValue);
      }
      data.sort([{column: sortCol, desc: true}]);
      data.removeColumn(sortCol);

      // Add Tooltip columns
      for (col = 2; col <= data.getNumberOfColumns(); col += 2) {
        data.insertColumn(col, {type: "string", role: "tooltip", "p": {"html": true}});
      }

      // Calculate Differences
      for (row = 0; row < data.getNumberOfRows(); row++) {
        var prevVal = 0;
        for (col = 1; col < data.getNumberOfColumns(); col += 2) {
          var curVal = data.getValue(row, col);
          var stepVal = curVal - prevVal;
          var tooltip = "<div class=\"chart-tooltip\"><b>" + data.getValue(row, 0) +
            "<br> Item Level " + data.getColumnLabel(col) + "</b>" +
            "<br><b>Total:</b> " + formatNumber(curVal.toFixed()) +
            "<br><b>Increase:</b> " + formatNumber(stepVal.toFixed()) + "</div>";
          data.setValue(row, col + 1, tooltip);
          data.setValue(row, col, stepVal);
          prevVal = curVal > prevVal ? curVal : prevVal;
        }
      }

      // Get content width (to force a min-width on mobile, can't do it in css because of the overflow)
      var content = document.getElementById("fightstyle-tabs");
      var contentWidth = content.innerWidth - window.getComputedStyle(content, null).getPropertyValue("padding-left") * 2;

      // Set chart options
      var chartWidth = document.documentElement.clientWidth >= 768 ? contentWidth : 700;
      var bgcol = "#222";
      var textcol = "#CCC";
      var options = {
        title: "{{ page.charttitle }}",
        backgroundColor: bgcol,
        chartArea: {
          top: 50,
          bottom: 100,
          right: 150,
          left: 200
        },
        hAxis: {
          title: "DPS Increase",
          gridlines: {
            count: 20
          },
          viewWindow: {
            min: 0
          },
          textStyle: {
            color: textcol
          },
          titleTextStyle: {
            color: textcol
          }
        },
        vAxis: {
          textStyle: {
            fontSize: 12,
            color: textcol
          },
          titleTextStyle: {
            color: textcol
          }
        },
        legend: {
          textStyle: {
            color: textcol
          }
        },
        titleTextStyle: {
          color: textcol
        },
        tooltip: {
          isHtml: true
        },
        isStacked: true,
        width: chartWidth
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.BarChart(document.getElementById("google-chart"));
      chart.draw(excludeEmptyRows(data), options);
    });
  }
</script>
